<div class="editbar light">
    <div class="inner">
        <div class="top">
            <div class="logo">
                drupal
            </div>
            <div class="user">
            </div>
        </div>
        <div class="bottom">
            {{ links }}
        </div>
    </div>
</div>
